[Desktop Entry]
Type=Application
Name=Converter
Exec=/opt/converter/bin/converter
Terminal=false
Icon=/opt/converter/lib/converter.png
Categories=Utility;
StartupNotify=true
StartupWMClass=ca-footeware-swing-converter-Converter
